.App {  
  text-align: center;
  background-color: #ededed;
  min-height: 100vh;
}

.MuiFormControl-root {
  width: 90%;
  background-color: #ededed;
  border-radius: 5px;
}


.ItemListImageProduct {
  width: 270px;
  height: 300px;
}
